@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&family=Poppins:ital,wght@0,200;0,400;0,700;0,800;1,400&display=swap");

.blueWhiteGradient {
  background: rgb(255, 255, 240);
  background: radial-gradient(
    circle,
    rgba(255, 255, 240, 1) 15%,
    rgba(0, 153, 204, 1) 74%
  );
  filter: blur(1rem);
}

.blueGradient {
  background: rgb(0, 189, 255);
  background: linear-gradient(
    0deg,
    rgba(0, 189, 255, 1) 0%,
    rgba(0, 153, 204, 1) 50%
  );
  filter: blue(10rem);
}
